.column{
    width: 25%;
    float: left;
}
.san-pham{
    border-radius: 10px;
    box-shadow: 0 5px gray;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
.san-pham:hover{
    box-shadow: 0 20px green;
    background-color: aqua;
}
.san-pham .ten{
    font-size: larger;
    font-variant: small-caps;
    color: blue;
}
.san-pham img{
    width: 150px;
    height: 250px;
}
.san-pham .gia{
    color: red;
    font-weight: bold;
    font-size: larger;
}
.san-pham .gia del{
color: gray;
}